.custom-statistic .ant-statistic-title {
  font-weight: 600;
  color: #8c8c8c;
  font-size: 14px;
}

.custom-statistic .ant-statistic-content-value {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 30px;
}

.custom-icon-1 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b6408b;
  color: #fff;
  border-radius: 50%;
  margin-left: auto;
  margin-top: 15px;
}
.custom-icon-2 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #32cbdc;
  color: #fff;
  border-radius: 50%;
  margin-left: auto;
  margin-top: 15px;
}
.custom-icon-3 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eb6d13;
  color: #fff;
  border-radius: 50%;
  margin-left: auto;
  margin-top: 15px;
}
