.background {
  background-image: url('../../assets/img/Error404Page.png');
  height: 100vh;
  max-width: 100vw;
  background-size: 60%;
  background-repeat: no-repeat;
}

.content {
  color: #1673c6;
  padding-top: 16%;
  font-family: 'Poppins', sans-serif;
  padding-left: 55%;
  width: 95%;
}

.content-h1 {
  margin-bottom: 10px;
  font-size: 65px !important;
  font-weight: bolder;
}

.content-p {
  margin-top: 2px;
  margin-bottom: 28px;
  font-size: 24px !important;
  line-height: 35px;
}

.back-to-home-btn {
  font-weight: 500;
  font-size: 20px !important;
  outline: none;
  border: none;
  width: 180px !important;
  height: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #167ec5 !important;
  color: white;
}

.back-to-home-btn:hover {
  background-color: #365885 !important;
  color: white;
}

@media screen and (max-width: 1100px) {
  .background {
    margin-top: 3%;
    background-size: 60%;
  }
  .content {
    padding-left: 52%;
    padding-top: 10%;
    width: 90%;
  }
  .content-h1 {
    font-size: 40px !important;
  }
  .content-p {
    font-size: 18px !important;
    margin-bottom: 18px;
  }
  .back-to-home-btn {
    font-size: 14px !important;
    width: 130px !important;
    height: 40px !important;
  }
}

@media screen and (max-width: 670px) {
  .background {
    background-image: none;
  }
  .content {
    padding-left: 10%;
    margin-top: 8%;
    width: 70%;
  }
  .content-h1 {
    font-size: 32px !important;
  }
  .content-p {
    font-size: 16px !important;
    margin-bottom: 18px;
  }
  .back-to-home-btn {
    font-size: 12px !important;
    width: 120px !important;
  }
}
